
.text-shadow{
    text-shadow: 1px 1px 1px black;
}
.hover-text-decoration-underline:hover{
    text-decoration: underline;
}

.nl2br{
    white-space: pre-line;
}

@each $mediaPrefix, $constraint in $medias{
    @media #{$constraint}{
        .-fs-#{$mediaPrefix}0{ font-size: 0 !important; }
        .-fs-#{$mediaPrefix}1{ font-size: calc(1.375rem + 1.5vw) !important; }
        .-fs-#{$mediaPrefix}2{ font-size: calc(1.325rem + 0.9vw) !important; }
        .-fs-#{$mediaPrefix}3{ font-size: calc(1.3rem + 0.6vw) !important; }
        .-fs-#{$mediaPrefix}4{ font-size: calc(1.275rem + 0.3vw) !important; }
        .-fs-#{$mediaPrefix}5{ font-size: 1.25rem !important; }
        .-fs-#{$mediaPrefix}6{ font-size: 1rem !important; }
        .-fs-#{$mediaPrefix}7{ font-size: .8rem !important; }
        .-fs-#{$mediaPrefix}8{ font-size: .6rem !important; }
    }
}

.text-nowrap{
    white-space: nowrap;
}