@use "sass:map";

$primary-color : rgb(240, 90, 40) !default; 
$secondary-color: rgb(214, 214, 40) !default;
$text-color: rgb(70, 70, 70) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

$media-xs: "screen";
$media-sm: "(min-width:"#{map.get($grid-breakpoints, "sm")}")";
$media-sm-max: "(max-width:"#{map.get($grid-breakpoints, "sm")}")";
$media-md: "(min-width:"#{map.get($grid-breakpoints, "md")}")";
$media-md-max: "(max-width:"#{map.get($grid-breakpoints, "md")}")";
$media-lg: "(min-width:"#{map.get($grid-breakpoints, "lg")}")";
$media-lg-max: "(max-width:"#{map.get($grid-breakpoints, "lg")}")";
$media-xl: "(min-width:"#{map.get($grid-breakpoints, "xl")}")";
$media-xl-max: "(max-width:"#{map.get($grid-breakpoints, "xl")}")";
$media-xxl: "(min-width:"#{map.get($grid-breakpoints, "xxl")}")";
$medias: (
    "": screen,
    "xs-": $media-xs, 
    "sm-": $media-sm,
    "md-": $media-md,
    "lg-": $media-lg,
    "xl-": $media-xl,
    "xxl-": $media-xxl
);